body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#header-ban {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    width: 960px;
}

#header-ban #logo {
    float: left;
    height: 144px;
    width: 355px;
}

#header-ban #logo img {
    border: 0;
}

#header-ban ul {
    float: right;
    margin: 0;
    padding: 31px 55px 0 0;
    overflow: hidden;
    width: 550px;
}

#header-ban ul li {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 118px;
}

#header-ban ul li a, #header-ban ul li a span, #header-ban ul li a:hover, #header-ban ul li a:hover span, #header-ban ul li.selected a, #header-ban ul li.selected a span {
    background: url(../images/menu.png);
}

#header-ban ul li a {
    background-position: 10px 0;
    color: #2a4f5e;
    display: block;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0 0 0 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #fff;
}

#header-ban ul li a span {
    background-position: -70px 0;
    display: block;
    margin: 0;
    padding: 0 10px 0 0;
}

#header-ban ul li a:hover {
    background-position: -186px -37px;
    color: #346b84;
    text-shadow: none;
}

#header-ban ul li a:hover span {
    background-position: -70px -37px;
}

#header-ban ul li.selected a {
    background-position: 10px 36px;
    color: #fff;
    text-shadow: none;
}

#header-ban ul li.selected a span {
    background-position: -70px -74px;
}


#body {
    background: url(../images/bg-content.gif) repeat-x top left;
    margin: 0;
    padding: 0;
    min-width: 960px;
}

#second-header-ban {
    padding: 10px 10px 10px 10px;
    overflow: hidden;
    width: 960px;
    font-size: 14px;
    height: 84px;
    text-decoration: none;
    margin: 15px 0 45px 0;
}

#second-header-ban-title {
    float: left;
}

#second-header-ban-title h2 {
    color: #2a4f5e;
    font-size: 27px;
    font-weight: bold;
    height: 74px;
    line-height: 110px;
    margin: 0;
    padding: 0;
    text-indent: 10px;
    text-transform: uppercase;
}

#second-header-ban ul {
    float: right;
    margin: 0;
    padding: 20px 0 0 0;
    overflow: hidden;
    width: 605px;
    font-size: 16px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

#second-header-ban ul li {
    list-style-type: none;
    float: left;
    margin: 0 0 2px 0;
    padding: 0;
    width: 110px;
}


#second-header-ban ul li a {
    background-position: 10px 0;
    color: #2a4f5e;
    display: block;
    font-size: 13px;
    height: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0 0 0 10px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    text-shadow: 1px 1px 1px #fff;
}


#second-header-ban ul li a:link {
    background: url(../images/menu02.png);
}

#second-header-ban ul li a:visited {
    background: url(../images/menu02.png);
}

#second-header-ban ul li a:hover {
    background: url(../images/menu01.png);
    background-position: -186PX -37PX;
    color: #346b84;
    text-shadow: none;
}

#second-header-ban ul li a:active {
    background: url(../images/menu01.png);
}

#second-header-ban ul li a #articlesm {
    background-position: 0 0;
    display: block;
    margin: 0;
    padding: 0 6px 0 0;
    text-align: center;

}

#second-header-ban ul li a #booksm {
    background-position: 0 0;
    display: block;
    margin: 0;
    padding: 0 8px 0 0;
    text-align: center;
}

#second-header-ban ul li a #conferencesm {
    background-position: 0 0;
    display: block;
    margin: 0;
    padding: 0 8px 0 0;
    text-align: center;
}

#second-header-ban ul li a #organizersm {
    background-position: 0 0;
    display: block;
    margin: 0;
    padding: 0 8px 0 0;
    text-align: center;
}

#second-header-ban ul li a #proceedingsm {
    background-position: 0 0;
    display: block;
    margin: 0;
    padding: 0 8px 0 0;
    text-align: center;
}

#second-header-ban ul li a #editorialsm {
    background-position: 0 0;
    display: block;
    margin: 0;
    padding: 0 6px 0 0;
    text-align: center;
}

#second-header-ban ul li a #seminarsm {
    background-position: 0 0;
    display: block;
    margin: 0;
    padding: 0 6px 0 0;
    text-align: center;
}

#second-header-ban ul li a #committeesm {
    background-position: 0 0;
    display: block;
    margin: 0;
    padding: 0 6px 0 0;
    text-align: center;
}

#second-header-ban ul li a:hover span {
    background-position: -70PX -37PX;
}

#second-header-ban ul li.selected a {
    background-position: 10px 36px;
    color: #fff;
    text-shadow: none;
}

#second-header-ban ul li.selected a span {
    background-position: -70px -74px;
}

#second-header-ban #second-menu-articles {
    padding: 0 2px 0 0;
    height: 30px;
    width: 112px;
}

#second-header-ban #second-menu-bookchapters {
    padding: 0 2px 0 0;
    height: 30px;
    width: 133px;
}

#second-header-ban #second-menu-conferences {
    padding: 0 2px 0 0;
    height: 30px;
    width: 117px;
}

#second-header-ban #second-menu-organizers {
    padding: 0 50px 0 0;
    height: 30px;
}

#second-header-ban #second-menu-proceedings {
    padding: 0 2px 0 0;
    height: 30px;
    width: 112px;
}

#second-header-ban #second-menu-editorials {
    padding: 0 2px 0 0;
    height: 30px;
    width: 133px;
}

#second-header-ban #second-menu-seminars {
    padding: 0 2px 0 0;
    height: 30px;
    width: 117px;
}

#second-header-ban #second-menu-committee {
    padding: 0 2px 0 0;
    height: 30px;
}

#body .products {
    margin: 0 auto;
    padding: 25PX 0 70px 0;
    width: 960px;
    font-size: 18px;
    color: #333333;
}

#body .bibtex_display {
    margin: 0 auto;
    padding: 10PX 0 30px 0;
    width: 940px;
    font-size: 18px;
    color: #333333;
}

.templates ol {
    width: 860px;
}

.templates li {
    padding: 0px;
    width: 880px;
}

#ircrescientificoutput h2 {
    color: #2a4f5e;
    font-size: 26px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    padding: 90px 0 30px 0;
}


.invited {
    font-family: Arial, Helvetica, sans-serif;
    color: #00F;
}

.infact {
    color: #F00;
    font-size: 16px;
    float: right;
    padding-right: 3px;

}

.citedwhole .cited {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #00F;
    float: right;
}

#body .products p {
    color: #5d5d5d;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 0 10px;
    text-align: justify;
}

#body .products p a {
    color: #333333;
}

#body .products p a:hover {
    color: #0000FF;
}

#body .products div {
    overflow: hidden;
}

#body .products #output #total-statistics {
    float: left;
    margin: 10px 0 0px 0;
}

#body .products div div p2 {
    float: left;
    margin: 0;
    text-align: center;
    width: auto;
    font-family: Verdana, Geneva, sans-serif;
    color: #000;
    font-size: 16px;
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 10px;
}

/*
#body .products div div h3 {
    color: #2a4f5e;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}
*/

#body .products div p {
    font-size: 16px;
    color: #000;
}

#body .products div {
    font-size: 16px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

#body .products li {
    font-size: 16px;
    color: #000;

    font-family: Arial, Helvetica, sans-serif;

}

#header {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    width: 960px;
}

#header #logo {
    float: left;
    height: 144px;
    width: 355px;
}

#header #logo img {
    border: 0;
}

#header ul {
    float: right;
    margin: 0;
    padding: 31px 55px 0 0;
    overflow: hidden;
    width: 550px;
}

#header ul li {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 118px;
}

#header ul li a, #header ul li a span, #header ul li a:hover, #header ul li a:hover span, #header ul li.selected a, #header ul li.selected a span {
    background: url(../images/menu.png);
}

#header ul li a {
    background-position: 10px 0;
    color: #2a4f5e;
    display: block;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0 0 0 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #fff;
}

#header ul li a span {
    background-position: -70px 0;
    display: block;
    margin: 0;
    padding: 0 10px 0 0;
}

#header ul li a:hover {
    background-position: -186px -37px;
    color: #346b84;
    text-shadow: none;
}

#header ul li a:hover span {
    background-position: -70px -37px;
}

#header ul li.selected a {
    background-position: 10px 36px;
    color: #fff;
    text-shadow: none;
}

#header ul li.selected a span {
    background-position: -70px -74px;
}

#footer {
    background: #f5f5f5 url(../images/bg-footer.gif) repeat-x top left;
    margin: 0;
    min-width: 960px;
    padding: 0;
}

#footer div {
    margin: 0 auto;
    overflow: hidden;
    padding: 26px 0 0;
    width: 960px;
}

#footer div div {
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 960px;
}

#footer div div h3 {
    color: #818a8c;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 5px 0;
    padding: 0;
    text-transform: uppercase;
}

#footer div div ul, #footer div div ul li {
    margin: 0;
    list-style: none;
    padding: 0;
}

#footer div div ul li {
    font-size: 12px;
    line-height: 22px;
    color: #818a8c;
}

#footer div a.facebook, #footer div a.twitter {
    display: block;
    float: left;
    height: 27px;
    margin: 10px 0 0;
    text-indent: -99999em;
    width: 40px;
}

#footer div a.facebook, #footer div a.twitter {
    background: url(../images/icons.gif) no-repeat;
}

#footer div a.facebook {
    background-position: 0 0;
    margin: 10px 0 0 58px;
    _margin: 10px 0 0 28px;
}

#footer div a.twitter {
    background-position: 0 -37px;
}

#footer div p {
    color: #c1c1c1;
    font-size: 12px;
    margin: 0;
    padding: 0 0 30px 0;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
}

.listcount {
    color: #F00;
    font-weight: bold;
}

#body .footer .featured ul li namelist {
    color: #000000;
}

.journal {
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.year {
    font-weight: bold;
}

year {
    font-weight: bold;
}

#infact {
    color: #F00;

}

#body .contact ul li {
    font-weight: normal;
}

#body .contact ul li {
    font-size: 24px;
}

#body .contact ul li {
    font-size: 18px;
}

#body .contact ul {
    color: #666;
}

.mfpe {
    font-size: 18px;
}

#body .about div h2 strong {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#body .about div table tr td div {
    color: #666;
    font-size: 16px;
    line-height: 25px;
    text-decoration: none;
}

#body .about div table tr td div {
    color: #000;
    font-family: "Times New Roman";
    font-size: 18px;
    font-weight: normal;
}

#body {
    color: #808080;
}

#body .products div h3 strong {
    color: #000000;
}

#body .products div h3 {
    color: #000000;
}

.link3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #00F;
    text-decoration: underline;
}


.press18 {
    font-family: "Times New Roman";
    font-size: 24px;
    font-variant: normal;
    color: #333;
    line-height: 30px;
}

.press18title {
    font-family: "Times New Roman";
    font-size: 44px;
    font-variant: normal;
    color: #333;


}

.titlescheme {
    font-size: 16px;
    font-style: normal;
    color: #333;
    font-family: "Arial Unicode MS";
    font-weight: bold;
}

a.newlink:link {
    font-size: 16px;
    color: rgb(0, 176, 240);
    text-decoration: none;
    font-family: "Times New Roman";
}

a.newlink:visited {
    color: rgb(0, 176, 240);
    text-decoration: none;
    font-family: "Times New Roman";
}

a.newlink:hover {
    color: rgb(153, 153, 153);
    text-decoration: none;
    font-family: "Times New Roman";
}

.button {
    position: fixed;
    right: 10px;
    bottom: 10px;
    border: none;
}

.buttonresearch {
    border: none;
}

#secondheader {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    width: 960px;
    font-size: 14px;
    text-decoration: none;
}

#secondheader ul {
    float: left;
    margin: 0;
    padding: 10px 0 0 0;
    overflow: hidden;
    width: 605px;
}

#secondheader ul li {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 118px;
}

#secondheader ul li a, #secondheader ul li a span, #secondheader ul li a:hover, #secondheader ul li a:hover span, #secondheader ul li.selected a, #secondheader ul li.selected a span {
    background: url(../images/menu.png);
}

#secondheader ul li a {
    background-position: 10px 0;
    color: #2a4f5e;
    display: block;
    font-size: 13px;
    height: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0 0 0 10px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    text-shadow: 1px 1px 1px #fff;
}

#secondheader ul li a span {
    background-position: -70px 0;
    display: block;
    margin: 0;
    padding: 0 10px 0 0;
}

#secondheader ul li a:hover {
    background-position: -186PX -37PX;
    color: #346b84;
    text-shadow: none;
}

#secondheader ul li a:hover span {
    background-position: -70PX -37PX;
}

#secondheader ul li.selected a {
    background-position: 10px 36px;
    color: #fff;
    text-shadow: none;
}

#secondheader ul li.selected a span {
    background-position: -70px -74px;
}

#secondsheader {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    width: 960px;
    font-size: 14px;
    text-decoration: none;
}

#secondsheader ul {
    float: right;
    margin: 0;
    padding: 5px 0 0 0;
    overflow: hidden;
    width: 605px;
}

#secondsheader ul li {
    list-style-type: none;
    float: left;
    margin: 0 0 2px 0;
    padding: 0;
    width: 110px;
}

#secondsheader ul li a:link {
    background: url(../images/menu02.png);
}

#secondsheader ul li a:visited {
    background: url(../images/menu02.png);
}

#secondsheader ul li a:hover {
    background: url(../images/menu01.png);
}

#secondsheader ul li a:active {
    background: url(../images/menu01.png);
}

#secondsheader ul li a {
    background-position: 10px 0;
    color: #2a4f5e;
    display: block;
    font-size: 13px;
    height: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0 0 0 10px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    text-shadow: 1px 1px 1px #fff;
}

#secondsheader ul li a span {
    background-position: 0 0;
    display: block;
    margin: 0;
    padding: 0 6px 0 0;
    text-align: center;

}

#secondsheader ul li a:hover {
    background-position: -186PX -37PX;
    color: #346b84;
    text-shadow: none;
}

#secondsheader ul li a:hover span {
    background-position: -70PX -37PX;
}

#secondsheader ul li.selected a {
    background-position: 10px 36px;
    color: #fff;
    text-shadow: none;
}

#secondsheader ul li.selected a span {
    background-position: -70px -74px;
}

#secondsheader ul li a spans {
    background-position: 0 0;
    display: block;
    margin: 0;
    padding: 0 8px 0 0;
    text-align: center;
}

#secondsheader ul li a:hover spans {
    background-position: -70PX -37PX;
}

#secondsheader ul li.selected a spans {
    background-position: -70px -74px;
}

#a {
    padding-left: 40px;
}

#articel li span img {
    margin-right: 5px;

}

#articel {
    padding: 0px;
}

#articel li {
    list-style-type: none;
    display: block;

}

.sorted {
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}

.press25year {

    font-size: 20px;
    font-weight: bold;

}

.press25yearnib {

    font-size: 20px;


}

.h5 {
    color: rgb(255, 0, 0);
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    padding: 0;


}

.publications {
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}

.link_people_lionel1 {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a.link_people_lionel1:hover {
    font-weight: bold;
    color: rgb(0, 0, 255);
}

.link_people_lionel2 {
    color: #5D5D5D;
    text-decoration: none;

}

.envents_peoplelink {
    color: #333333;
    text-decoration: none;
}

.envents_peoplelink:hover {
    color: rgb(0, 0, 255);
}

.people_title {
    color: rgb(51, 51, 51);
    font-family: "Times New Roman";
    font-size: 22px;
    font-weight: bold;
}

.index {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.index_number {
    color: #00F;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

h1.IMPACTFACTOR {
    display: none;
}


#total-statistics {

}

#total-statistics h2 {

    padding-top: 2px;
    padding-bottom: 0;
    color: #2a4f5e;
    font-size: 26px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    padding: 0px 0 0px 0;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 940px;
}

#total-statistics h3 {
    margin-top: 21px;
    margin-bottom: 0px;
    text-align: center;

}

#total-statistics .listcountred {
    font-family: Arial, Helvetica, sans-serif;
    color: #F00;
    font-weight: bold;
}

#total-statistics .listcountblue {
    font-family: Arial, Helvetica, sans-serif;
    color: #00F;
    font-weight: bold;
}

#top15mostcitedarticles h3 {
    font-size: 1.17em;
    color: #000000;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px auto;
    padding: 15PX 0 20px 0;
    width: 960px;
    text-align: center;
}

#top15mostcitedarticles ol {
    list-style-type: decimal;
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    font-size: 16px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: 30px;
    padding: 30PX 10px 30px 10px;
    width: 860px;
}

#top15mostcitedarticles ol li {
    margin: 30px 10 30px 10px;
    padding: 10PX 0px 10px 0px;
    width: 860px;
    font-size: 16px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;

    list-style-type: decimal;

}

#articlestatics {
    width: 960px;

}

#articlestatics h3 {
    text-align: center;
    margin-top: 21px;
    margin-bottom: 0px;
}

.listcountred {
    font-family: Arial, Helvetica, sans-serif;
    color: #F00;
    font-weight: bold;
}

.articlestaticsindex {
    text-align: center;
}


#footer div p {
    color: #c1c1c1;
    font-size: 12px;
    margin: 0;
    padding: 0 0 30px 0;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
}

#footer div h3 {
    color: #818a8c;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 5px 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
}

#footer div ul li {
    font-size: 12px;
    line-height: 22px;
    color: #818a8c;
    text-align: center;
    list-style: none;
}

#divconferences {
    margin: 0 auto;
    padding: 10PX 0 30px 0;
    width: 960px;
    font-size: 18px;
    color: #333333;
}

#divconferences ol {
    margin: 0 auto;
    padding: 10PX 0 30px 0;
    width: 860px;
    font-size: 18px;
    color: #333333;
}


#divconferences ol li {
    margin: 0 auto;
    padding: 10PX 0 10px 0;
    width: 840px;
    font-size: 18px;
    color: #333333;
}


#divconferences h3 {
    text-align: center;
}

#divconferences h3, #divconferences h4 {
    text-align: center;
}


#divseminars {
    margin: 0 auto;
    padding: 10px 0 30px 0;
    width: 960px;
    font-size: 18px;
    color: #333333;

}

#divseminars ol {
    margin: 0 auto;
    padding: 10PX 0 30px 0;
    width: 860px;
    font-size: 18px;
    color: #333333;
}


#divseminars ol li {
    margin: 0 auto;
    padding: 10PX 0 10px 0;
    width: 840px;
    font-size: 18px;
    color: #333333;
}

#divseminars h3 {
    text-align: center;
}

#divseminars h3, #divseminars h4 {
    text-align: center;
}

#divorganizers {
    margin: 0 auto;
    padding: 10PX 0 30px 0;
    width: 960px;
    font-size: 18px;
    color: #333333;
}

#divorganizers ol {
    margin: 0 auto;
    padding: 10PX 0 30px 0;
    width: 860px;
    font-size: 18px;
    color: #333333;
}


#divorganizers ol li {
    margin: 0 auto;
    padding: 10PX 0 10px 0;
    width: 840px;
    font-size: 18px;
    color: #333333;
}

#divorganizers h3 {
    text-align: center;
}

#divorganizers h3, #divorganizers h4 {
    text-align: center;
}

#divcommittee {
    margin: 0 auto;
    padding: 25PX 0 30px 0;
    width: 960px;
    font-size: 18px;
    color: #333333;

}

#divcommittee {
    margin: 0 auto;
    padding: 10PX 0 30px 0;
    width: 960px;
    font-size: 18px;
    color: #333333;
}

#divcommittee ol {
    margin: 0 auto;
    padding: 10PX 0 30px 0;
    width: 860px;
    font-size: 18px;
    color: #333333;
}


#divcommittee ol li {
    margin: 0 auto;
    padding: 10PX 0 10px 0;
    width: 840px;
    font-size: 18px;
    color: #333333;
}


#divcommittee h3 {
    text-align: center;
}

#divcommittee h3, #divcommittee h4 {
    text-align: center;
}

#articles {
    margin: 0 auto;
    padding: 25PX 0 70px 0;
    width: 960px;
    font-size: 18px;
    color: #333333;
    text-align: center;
}

#articlestatics {
    margin: 0 auto;
    padding: 15PX 0 10px 0;
    width: 960px;
    font-size: 18px;
    color: #333333;
    text-align: center;

}

#articlestatics div {
    margin: 0 auto;
    padding: 25PX 0 20px 0;
    width: 960px;
    font-size: 18px;
    color: #333333;
    text-align: center;
}

#body .products {
    margin: 0 auto;
    padding: 25PX 0 40px 0;
    width: 960px;
    font-size: 18px;
    color: #333333;
}

.products {
    background: url(../images/bg-content.gif) repeat-x top left;
    margin: 0 auto;
    padding: 25PX 0 70px 0;
    width: 960px;
    font-size: 18px;
    color: #333333;
}

.products #output {

    font-size: 16px;
    color: #000;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    overflow: hidden;
    margin: 15px 0 45px 0;
}

#divcommittee {
    text-align: left;
}

#divcommittee h3 {
    text-align: center;
}

#top15mostcitedarticles {
    width: 940px;
}

div .sort {
    width: 960px;
}

#top15articlelist {
    list-style-type: decimal;
    margin: 30px;
    padding: 30px 10px;
    width: 860px;
}

#top15articlelist li {
    list-style-type: decimal;
    margin: 0px;
    padding: 10px 0 10px 16px;
    width: 860px;
}

#bibtex_template .bibtexentry {
    float: inherit;
    height: 40px;
    width: 940px;
    text-align: left;
    padding: 10px;
}

#bibtex_template .bibtexentry div {
    float: inherit;
    height: 40px;
    width: 400px;
    text-align: left;
    padding: 10px;
}

#bibtex_template .bibtexentry p {
    float: inherit;
    height: 40px;
    width: 400px;
    text-align: left;
    padding: 10px;
}

span.hiholinka a.bibtexVar:link {
    font-size: 16px;
    color: rgb(0, 176, 240);
    text-decoration: none;
    font-family: "Times New Roman";
}

span.hiholinka a.bibtexVar:visited {
    color: rgb(0, 176, 240);
    text-decoration: none;
    font-family: "Times New Roman";
}

span.hiholinka a.bibtexVar:hover {
    color: rgb(153, 153, 153);
    text-decoration: none;
    font-family: "Times New Roman";
}

span .journal {
    float: inherit;
    height: 40px;
    width: 400px;
    text-align: left;
    padding: 0px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

span .paperurl {


}

span .ifpre {
    color: rgb(255, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: right;
    word-spacing: 0;
    font-weight: bold;
}

span .impactfactor {

    color: rgb(255, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: right;
    word-spacing: 0;
    font-weight: bold;
    display: inline-block;
}

span .impactcited {
    float: right;
}

span .citedpre {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: right;
    color: #00F;
    display: inline-block;
    width: 72px;
}


.citedwhole .cited {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: right;
    color: #00F;
    display: inline-block;
    width: 40px;
}

.articlelogo {
    margin-left: 0px;
    margin-top: px;
    padding-top: 0px;
    padding-left: 0px;
    float: left;
    width: 48px;
}

span .citedwhole {
    display: inline-block;
    width: 116px;
}

span .impactfactorwhole {
    display: inline-block;
    width: 130px;
}

.section .title {
    text-align: center;
}

.bibtextypekey div {
    margin: 0px 0 0 0;
    padding: 0px 0 0 0;
}

.bibtextypekey div h3 {
    margin: 5px 0 0px 0;
    padding: 30px 0 0 0;
}


.section .sort {
    margin: 0px 0 0 0;
    padding: 0px 0 0 0;
}

.bibtexentry div {
    margin: 0px 0 0 0;
    padding: 0px 0 0 0;
}

.bibtexentry {
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
}

.articledisplay {
    margin: 0px 0 0 0;
    padding: 0px 0 0 0;
}

#hihodiv {
    float: inherit;
    height: 40px;
    width: 400px;
    text-align: left;
    margin: 0px 0 0 0;
    padding: 3px 10px 3px 10px;
}


#articlelist {
    list-style-type: decimal;
    margin: 30px;
    padding: 30px 10px;
    width: 860px;
}

#articlelist li {
    list-style-type: decimal;
    margin: 0px;
    padding: 10px 0 1px 16px;
    width: 860px;
}


#editoriallist {
    list-style-type: decimal;
    margin: 30px;
    padding: 30px 10px;
    width: 860px;
}

#editoriallist li {
    list-style-type: decimal;
    margin: 0px;
    padding: 10px 0 1px 16px;
    width: 860px;
}

#proceedinglist {
    list-style-type: decimal;
    margin: 30px;
    padding: 30px 10px;
    width: 860px;
}

#proceedinglist li {
    list-style-type: decimal;
    margin: 0px;
    padding: 10px 0 1px 16px;
    width: 860px;
}

#bookchapterlist {
    list-style-type: decimal;
    margin: 30px;
    padding: 30px 10px;
    width: 860px;
}

#bookchapterlist li {
    list-style-type: decimal;
    margin: 0px;
    padding: 10px 0 1px 16px;
    width: 860px;
}
