/* Template by freewebsitetemplates.com */
body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
#header
{
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    width: 960px;
}
#header #logo
{
    float: left;
    height: 144px;
    width: 355px;
}
#header #logo img
{
    border: 0;
}
#header ul
{
    float: right;
    margin: 0;
    padding: 31px 55px 0 0;
    overflow: hidden;
    width: 550px;
}
#header ul li
{
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 118px;
}
#header ul li a, #header ul li a span, #header ul li a:hover, #header ul li a:hover span, #header ul li.selected a, #header ul li.selected a span
{
    background: url(../images/menu.png);
}
#header ul li a
{
    background-position: 10px 0;
    color: #2a4f5e;
    display: block;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0 0 0 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #fff;
}
#header ul li a span
{
    background-position: -70px 0;
    display: block;
    margin: 0;
    padding: 0 10px 0 0;
}
#header ul li a:hover
{
    background-position: -186px -37px;
    color: #346b84;
    text-shadow: none;
}
#header ul li a:hover span
{
    background-position: -70px -37px;
}
#header ul li.selected a
{
    background-position: 10px 36px;
    color: #fff;
    text-shadow: none;
}
#header ul li.selected a span
{
    background-position: -70px -74px;
}

#body
{
    background: url(../images/bg-content.gif) repeat-x top left;
    margin: 0;
    padding: 0;
    min-width: 960px;
}
#body .header
{
    background: url(../images/bg-body.gif) repeat-x bottom center;
    margin: 0 0 30px 0;
}
#body .header div
{
    background: url(../images/smiling-man.jpg) no-repeat bottom right;
    height: 472px;
    margin: 0 auto;
    padding: 0;
    width: 960px;
}
#body .header div div
{
    background: none;
    margin: 0;
    padding: 0 0 0 13px;
    height: 200px;
    width: 490px;
}
#body .header div h3
{
    color: #2a4f5e;
    font-size: 20px;
    line-height: 30px;
    margin: 18px 0 0 0;
    padding: 0;
    text-shadow: 1px 1px 1px #fff;
    font-family: Arial, Helvetica, sans-serif;
}
#body .header div h3 span
{
    display: block;
    font-size: 25px;
}
#body .header div h3 a
{
    color: #2a4f5e;
    text-decoration: none;
}
#body .header div h3 a:hover
{
    color: #507685;
}
#body .header div p
{
    color: #507685;
    font-size: 14px;
    line-height: 24px;
    margin: 12px 0 6px 0;
    padding: 0;
    text-shadow: 1px 1px 1px #fff;
}
#body .header div p a
{
    color: #507685;
}
#body .header div p a:hover
{
    color: #2a4f5e;
}
#body .header ul
{
    overflow: hidden;
    margin: 0;
    padding: 49px 0 0;
}
#body .header ul li
{
    float: left;
    list-style: none;
    padding: 0 5px;
}
#body .body
{
    border: 1px solid #e0e0e0;
    margin: 0 auto 34px auto;
    overflow: hidden;
    padding: 0 2px;
    width: 954px;
}
#body .body div
{
    float: left;
}
#body .body .section
{
    background: url(../images/bg-section.gif) repeat-x top left;
    height: 193px;
    margin: 0;
    padding: 35px 0 0 40px;
    width: 186px;
}
#body .body .section img
{
    display: block;
}
#body .body .section a
{
    color: #2a4f5e;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 145px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 145px;
}
#body .body .section a:hover
{
    color: #507685;
}
#body .body .section img
{
    border: 0;
}
#body .body .article
{
    background: url(../images/bg-article-1.gif) no-repeat top center;
    overflow: hidden;
    padding: 19px 16px;
    width: 470px;
}
#body .body .article img
{
    border: 0;
    float: left;
    padding: 0 10px 0 0;
}
#body .body .article h4
{
    color: #2a4f5e;
    font-size: 15px;
    font-weight: bold;
    margin: 8px 0;
    padding: 0;
}
#body .body .article h4 a
{
    color: #2a4f5e;
    text-decoration: none;
}
#body .body .article h4 a:hover
{
    color: #507685;
}

#body .article li
{
    font-size: 16px;
    color: #000;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
}


#body .body .article p
{
    color: #2a4f5e;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    padding: 0;
}
#body .body .article p a
{
    color: #2a4f5e;
}
#body .body .article p a:hover
{
    color: #346b84;
}
#body .footer
{
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0 15px 0;
    width: 960px;
}
#body .footer div
{
    float: left;
    margin: 0;
    padding: 0;
}
#body .footer div ul
{
    margin: 0;
    padding: 0;
}
#body .footer div ul li
{
    list-style: none;
    margin: 0 0 15px;
    padding: 0 0 15px;
}
#body .footer h3
{
    color: #2a4f5e;
    font-size: 14px;
    line-height: 26px;
    margin: 0 0 12px 0;
    padding: 0;
    text-align: justify;
    text-transform: uppercase;
}
#body .footer h3 a
{
    color: #2a4f5e;
    text-decoration: none;
}
#body .footer h3 a:hover
{
    color: #507685;
}
#body .footer .section
{
    padding: 0 10px;
    width: 220px;
}
#body .footer ul li
{
    background: url(../images/border-dashed.gif) repeat-x bottom left;
}
#body .footer ul li:last-child
{
    background: none;
}
#body .footer li p
{
    color: #5d5d5d;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    text-align: justify;
}
#body .footer li p a
{
    color: #5d5d5d;
    text-decoration: underline;
}
#body .footer li p a:hover
{
    color: #aeaeae;
}
#body .footer li span
{
    color: #aeaeae;
    display: block;
    font-size: 10px;
    line-height: 16px;
    margin: 5px 0 0;
    padding: 0;
}
#body .footer ul.news li p
{
    background: url(../images/bullets.gif) no-repeat 0 8px;
    padding: 0 0 0 15px;
}
#body .footer .featured
{
    padding: 0 18px 0 24px;
    width: 438px;
}
#body .footer .featured ul li
{
    overflow: hidden;
    color: #333;
}
#body .footer .featured img
{
    border: 1px solid #dbddde;
    float: left;
    margin: 0 20px 0 0;
    padding: 1px;
}
#body .footer .featured p
{
    margin: 0;
    padding: 0;
    color: #000000;
}
#body .contact, #body .about, #body .services, #body .blog
{
    margin: 0 auto;
    padding: 40px 10px 50px 10px;
    width: 940px;
    font-weight: bold;
    text-align: left;
}
#body h1
{
    color: #2a4f5e;
    font-size: 27px;
    font-weight: bold;
    height: 74px;
    line-height: 110px;
    margin: 0;
    padding: 0;
    text-indent: 10px;
    text-transform: uppercase;
}
#body .contact p
{
    color: #7b7b7b;
    font-size: 15px;
    font-weight: bold;
    line-height: 26px;
    margin: 0;
    padding: 40px 0;
    text-align: justify;
    width: 830px;
}
#body .contact p a
{
    color: #7b7b7b;
}
#body .contact p a:hover
{
    color: #2a4f5e;
}
#body .contact div
{
    margin: 0;
    padding: 0 0 30px 0;
}
#body .contact div h3
{
    color: #5d5d5d;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0 0 5px 0;
}
#body .contact div ul
{
    margin: 0;
    padding: 0 0 20px 0;
}
#body .contact div ul li
{
    color: #666666;
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 5px 0;
}
#body .about div
{
    font-weight: bold;
}
#body .about h2
{
    color: #2a4f5e;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
#body .about p
{
    color: #5d5d5d;
    font-size: 16px;
    line-height: 24px;
    margin: 50px;
    padding: 0;
    text-align: left;
    width: 830px;
    font-family: Arial, Helvetica, sans-serif;
}
#body .about p a
{
    color: #5d5d5d;
}
#body .about p a:hover
{
    color: #2a4f5e;
}
#body .services div
{
    overflow: hidden;
    margin: 0;
    padding: 40px 0 0;
}
#body .services h2
{
    color: #2a4f5e;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
#body .services h2 a
{
    color: #2a4f5e;
}
#body .services h2 a:hover
{
    color: #507685;
}
#body .services h3
{
    color: #2a4f5e;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    margin: 15px 0 0;
    padding: 0 30px 0 0;
    text-transform: uppercase;
}
#body .services h3 a
{
    color: #2a4f5e;
}
#body .services h3 a:hover
{
    color: #507685;
}
#body .services h4
{
    color: #2a4f5e;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
#body .services p
{
    color: #5d5d5d;
    font-size: 14px;
    line-height: 24px;
}
#body .services p a
{
    color: #5d5d5d;
}
#body .services p a:hover
{
    color: #2a4f5e;
}
#body .services div ul
{
    float: left;
    margin: 0;
    padding: 20px 0 0;
    width: 312px;
}
#body .services div ul li
{
    background: url(../images/bullets.gif) no-repeat center left;
    color: #5d5d5d;
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 5px 0 5px 12px;
    text-align: left;
}
#body .services div div
{
    overflow: hidden;
    margin: 0;
    padding: 0 0 5px 0;
}
#body .services div div img
{
    float: left;
    padding: 0 10px 0 0;
}
#body .services div div p
{
    padding: 0 30px 0 0;
    text-align: justify;
}
#body .products
{
    margin: 0 auto;
    padding: 25PX 0 70px 0;
    width: 960px;
    font-size: 18px;
    color: #333333;
}
#body .products h2
{
    color: #2a4f5e;
    font-size: 26px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    padding: 90px 0 30px 0;
}
.invited
{
    font-family: Arial, Helvetica, sans-serif;
    color: #00F;
}
.infact
{
    color: #F00;
    font-size: 16px;
	float: right;
	padding-right: 3px;
	
}
.cited
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
    color: #00F;
	float: right; 
	}
	
#body .products p
{
    color: #5d5d5d;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 0 10px;
    text-align: justify;
}
#body .products p a
{
    color: #333333;
}
#body .products p a:hover
{
    color: #0000FF;
}
#body .products div
{
    overflow: hidden;
    margin: 15px 0 45px 0;
    padding: 0;
}
#body .products div div
{
    float: left;
    margin: 0;
    padding-right: 20px;
    text-align: center;
    width: 300px;
}
#body .products div div p2
{
    float: left;
    margin: 0;
    text-align: center;
    width: auto;
    font-family: Verdana, Geneva, sans-serif;
    color: #000;
    font-size: 16px;
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 10px;
}

#body .products div div h3
{
    color: #2a4f5e;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0 0 10px 0;
    text-align: justify;
    text-transform: uppercase;
}
#body .products div p
{
    font-size: 16px;
    color: #000;
}
#body .products div
{
    font-size: 16px;
    color: #000;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

#body .products li
{
    font-size: 16px;
    color: #000;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
}


#body .products div div p
{
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: justify;
}
#body .blog
{
    overflow: hidden;
    font-weight: normal;
}
#body .blog div
{
    float: left;
    padding: 0px 0 0 0;
    width: 940px;
    font-size: 18px;
    font-weight: normal;
}
#body .blog ul
{
    float: left;
    margin: 0;
    padding: 38px 0 0 30px;
    width: 280px;
}
#body .blog ul li
{
    background: url(../images/border-dashed.gif) repeat-x bottom left;
    list-style: none;
    margin: 0;
    padding: 22px 0;
}
#body .blog ul li:last-child
{
    background: none;
}
#body .blog h2
{
    color: #2a4f5e;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
#body .blog h3
{
    color: #5d5d5d;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: justify;
}
#body .blog h3 a
{
    color: #5d5d5d;
}
#body .blog h3 a:hover
{
    color: #2a4f5e;
}
#body .blog p
{
    color: #5d5d5d;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    text-align: justify;
}


#body .blog p a:hover
{
    color:rgb(0,0,255);
}
#body .blog div p
{
    padding: 15px 0;
}
#body .blog div p.article
{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#footer
{
    background: #f5f5f5 url(../images/bg-footer.gif) repeat-x top left;
    margin: 0;
    min-width: 960px;
    padding: 0;
}
#footer div
{
    margin: 0 auto;
    overflow: hidden;
    padding: 26px 0 0;
    width: 960px;
}
#footer div div
{
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 960px;
}
#footer div div h3
{
    color: #818a8c;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 5px 0;
    padding: 0;
    text-transform: uppercase;
}
#footer div div ul, #footer div div ul li
{
    margin: 0;
    list-style: none;
    padding: 0;
}
#footer div div ul li
{
    font-size: 12px;
    line-height: 22px;
    color: #818a8c;
}
#footer div a.facebook, #footer div a.twitter
{
    display: block;
    float: left;
    height: 27px;
    margin: 10px 0 0;
    text-indent: -99999em;
    width: 40px;
}
#footer div a.facebook, #footer div a.twitter
{
    background: url(../images/icons.gif) no-repeat;
}
#footer div a.facebook
{
    background-position: 0 0;
    margin: 10px 0 0 58px;
    _margin: 10px 0 0 28px;
}
#footer div a.twitter
{
    background-position: 0 -37px;
}
#footer div p
{
    color: #c1c1c1;
    font-size: 12px;
    margin: 0;
    padding: 0 0 30px 0;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
}
.listcount
{
    color: #F00;
    font-weight: bold;
}
#body .footer .featured ul li namelist
{
    color: #000000;
}
.journal
{
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.year
{
    font-weight: bold;
}
year
{
    font-weight: bold;
}
#infact
{
    color: #F00;
	
}

#body .contact ul li
{
    font-weight: normal;
}
#body .contact ul li
{
    font-size: 24px;
}
#body .contact ul li
{
    font-size: 18px;
}
#body .contact ul
{
    color: #666;
}
.mfpe
{
    font-size: 18px;
}
#body .about div h2 strong
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#body .about div table tr td div
{
    color: #666;
    font-size: 16px;
    line-height: 25px;
    text-decoration: none;
}
#body .about div table tr td div
{
    color: #000;
    font-family: "Times New Roman";
    font-size: 18px;
    font-weight: normal;
}
#body
{
    color: #808080;
}
#body .products div h3 strong
{
    color: #000000;
}
#body .products div h3
{
    color: #000000;
}

.link3
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #00F;
    text-decoration: underline;
}

.press18
{
    font-family:"Times New Roman";
    font-size: 24px;
    font-variant: normal;
    color: #333;
	line-height: 30px;
}
.press18title
{
    font-family: "Times New Roman";
    font-size: 44px;
    font-variant: normal;
    color: #333;
	
	
}
.titlescheme
{
    font-size: 16px;
    font-style: normal;
    color: #333;
    font-family: "Arial Unicode MS";
    font-weight: bold;
}

a.newlink:link
{
    font-size: 16px;
    color: rgb(0,176,240);
    text-decoration: none;
    font-family: "Times New Roman";
}
a.newlink:visited
{
    color: rgb(0,176,240);
    text-decoration: none;
    font-family: "Times New Roman";
}
a.newlink:hover
{
    color: rgb(153,153,153);
    text-decoration: none;
    font-family: "Times New Roman";
}
.button
{
    position: fixed;
    right: 10px;
    bottom: 10px;
    border: none;
}
.buttonresearch
{
    border: none;
}
#secondheader
{
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    width: 960px;
    font-size: 14px;
    text-decoration: none;
}
#secondheader ul
{
    float: left;
    margin: 0;
    padding: 10px 0 0 0;
    overflow: hidden;
    width: 605px;
}
#secondheader ul li
{
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 118px;
}
#secondheader ul li a, #secondheader ul li a span, #secondheader ul li a:hover, #secondheader ul li a:hover span, #secondheader ul li.selected a, #secondheader ul li.selected a span
{
    background: url(../images/menu.png);
}
#secondheader ul li a
{
    background-position: 10px 0;
    color: #2a4f5e;
    display: block;
    font-size: 13px;
    height: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0 0 0 10px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    text-shadow: 1px 1px 1px #fff;
}
#secondheader ul li a span
{
    background-position: -70px 0;
    display: block;
    margin: 0;
    padding: 0 10px 0 0;
}
#secondheader ul li a:hover
{
    background-position: -186PX -37PX;
    color: #346b84;
    text-shadow: none;
}
#secondheader ul li a:hover span
{
    background-position: -70PX -37PX;
}
#secondheader ul li.selected a
{
    background-position: 10px 36px;
    color: #fff;
    text-shadow: none;
}
#secondheader ul li.selected a span
{
    background-position: -70px -74px;
}
#secondsheader
{
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    width: 960px;
    font-size: 14px;
    text-decoration: none;
}
#secondsheader ul
{
    float: right;
    margin: 0;
    padding: 5px 0 0 0;
    overflow: hidden;
    width: 605px;
}
#secondsheader ul li
{
    list-style-type: none;
    float: left;
    margin: 0 0 2px 0;
    padding: 0;
    width: 110px;
}
#secondsheader ul li a:link
{background:url(../images/menu02.png);
}
#secondsheader ul li a:visited
{background:url(../images/menu02.png);
}
#secondsheader ul li a:hover
{background:url(../images/menu01.png);
}
#secondsheader ul li a:active
{background:url(../images/menu01.png);
}

#secondsheader ul li a
{
    background-position: 10px 0;
    color: #2a4f5e;
    display: block;
    font-size: 13px;
    height: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0 0 0 10px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    text-shadow: 1px 1px 1px #fff;
}
#secondsheader ul li a span
{
    background-position: 0 0;
    display: block;
    margin: 0;
    padding: 0 6px 0 0;
	text-align:center;

}
#secondsheader ul li a:hover
{
    background-position: -186PX -37PX;
    color: #346b84;
    text-shadow: none;
}
#secondsheader ul li a:hover span
{
    background-position: -70PX -37PX;
}
#secondsheader ul li.selected a
{
    background-position: 10px 36px;
    color: #fff;
    text-shadow: none;
}
#secondsheader ul li.selected a span
{
    background-position: -70px -74px;
}
#secondsheader ul li a spans
{
    background-position: 0 0;
    display: block;
    margin: 0;
    padding: 0 8px 0 0;
	text-align:center;
}
#secondsheader ul li a:hover spans
{
    background-position: -70PX -37PX;
}
#secondsheader ul li.selected a spans
{
    background-position: -70px -74px;
}
#a
{
    padding-left: 40px;
}

#articel li span img
{
    margin-right: 5px;

}

#articel
{
    padding: 0px;
}
#articel li
{
    list-style-type: none;
	display: block;

}
.sorted
{
    color:rgb(0,0,0);
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0 85px;
}
.press25year
{
    
    font-size: 20px;
    font-weight: bold;

}
.press25yearnib
{
    
    font-size: 20px;
   

}
.h5
{
    color: rgb(255,0,0);
    font-size: 22px;
    font-weight: bold;
	margin: 0;
	padding: 0;	
	

}
.publications
{
	font-size: 20px;
    color:rgb(0,0,0);
    margin:0;
    padding:0;
}
.link_people_lionel1 
{   color:rgb(0,0,0);
    text-decoration: none;
}
a.link_people_lionel1:hover
{  font-weight: bold;
	color:rgb(0,0,255);
}
.link_people_lionel2
{   
    color: #5D5D5D;
	text-decoration: none;

}
.envents_peoplelink
{
    color: #333333;
	text-decoration: none;
}
.envents_peoplelink:hover
{ color:rgb(0,0,255);
}

.people_title
{ 
color:rgb(51,51,51);
font-family:"Times New Roman";
font-size:22px;
font-weight:bold;
}
.index
{
    color:rgb(0,0,0);
    font-size: 16px;
    font-weight: bold;
    margin: 0;   
}
.index_number
{
    color:#00F;
    font-size: 16px;
    font-weight: bold;
    margin: 0;   
}
